<template>
  <div class='<%= data.componentName %>'>
    <h1><%= data.componentName %></h1>
  </div>
</template>

<script>
  export default {
    name: '<%= data.componentName %>',
    data() {
      return {}
    }
  }
</script>

<style scoped>
</style>
